.image-gallery {
    display: flex;
    margin-bottom: 0.2rem;
}

.image-gallery > * {
    height: 60px;
    cursor: pointer;
    margin-right: 0.2rem;
}

.image-gallery > * > img {
    height: inherit;
}

.canvas-container {
    width: 300px;
    height: 300px;
    margin-bottom: 0.4rem;
}

canvas {
    height: auto;
    object-fit: cover;
}

.text-input {
    width: 295px;
}